*{
    font-family: 'Poppins', sans-serif;
}

.login {
    height: 100vh;
}

.header h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #000000;
}

.header p{
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #737373;
}

.login-form label { 
    margin-top: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.login-form input {
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 8px;
}

.login-form a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #737373;
    margin: 20px 0 10px 0;
    display: block;
}

.login-form .signin {
    width: 100%;
    height: 42px;
    background: #000000;
    border-radius: 8px;
    color: #FFFFFF;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-form .signin-google {
    height: 42px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.login-form span {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
color: #737373;
}

.login-form span a {
    font-weight: 600;
}

.login-left {
    background-image: url("https://i.pinimg.com/originals/2a/35/b1/2a35b15e65c10785fb21d0f7a63e1a72.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
